<!DOCTYPE html>
<html lang="en" style="scroll-behavior: smooth;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tentang kami</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/informasialgoritma.css') }}">
  </head>
<body>

    <!-- Links (sit on top) -->
    <div class="w3-top">
      <div class="w3-row w3-padding w3-black">
        <div class="w3-col s4">
          <a href="/" class="w3-button w3-block w3-black">HOME</a>
        </div>
        <div class="w3-col s4">
          <a href="/information" class="w3-button w3-block w3-black">Informasi</a>
        </div>
        <div class="w3-col s4">
          <a href="/about" class="w3-button w3-block w3-black">Tentang Kami</a>
        </div>
      </div>
    </div>
    <!-- Add a background color and large text to the whole page -->
    <div class="w3-sand w3-grayscale w3-large">
    
    <!-- About Container -->
    
    <!-- Menu Container -->
    
    <!-- Contact/Area Container -->
    <div class="w3-container" id="where" style="padding-bottom:32px; padding-top:100px">
      <div class="w3-row w3-auto">
        <div class="w3-col w3-grey l6 w3-center" id="svr">
          <a href="#svr" class="w3-button w3-block w3-black">SVR</a>
          <p class="w3-block" style="text-align:justify; padding: 50px; height:480px;">
            Support Vector Regression merupakan sebuah 
            pengklasifikasian dari metode machine learning
            yang diterapkan dalam kasus regresi dan dalam 
            output bernilai bilangan rill atau data sekeunsial.
            Sebagai metode regresi nonliner, tujuan SVR yang
            akan dicapai yaitu untuk menemukan fungsi ƒ (x)
            yang mempunyai simpangan ɛ yang paling besar
            dari target y untuk semua data yang akan
            didapatkan dari SVR .
          </p>
        </div>
        <div class="w3-col w3-grey l6 w3-center" id="lstm">
          <a href="#lstm" class="w3-button w3-block w3-black">LSTM</a>
          <p class="w3-block" style="text-align:justify; padding: 50px; height:480px;">
            Long Short Term Memory merupakan turunan dari metode 
            RRN (Recurrent Neural Network).Recurrent Neural Network merupakan jaringan 
            saraf berulanng yang didesain khusus untuk menghandle data berurutan (sequence
            data). Akan tetapi RRN memiliki masalah vanishing dan exploding gradient yaitu 
            terjadi perubahan pada jangkauan nilai dari satu lapisan menuju lapisan berikutnya 
            pada sebuah arsitektur . LSTM dirancang dan dibangun untuk mengatasi masalah 
            gradien menghilang dari RNN Ketika berhadapan dengan Vanishing dan Exploding 
            gradient tersebut. Arsitektur LSTM terdiri dari lapisan input, lapisan output, dan 
            lapisan tersembunyi.
          </p>
        </div>
      </div>
      <div class="w3-row w3-auto">
        <div class="w3-col w3-grey w3-center" id="TBC">
          <a href="#TBC" class="w3-button w3-block w3-black">tentang penyakit TBC</a>
          <p class="w3-block" style="text-align:justify; padding: 50px; height:480px;">
            Tuberkulosis merupakan penyakit yang disebabkan oleh infeksi bakteri
            mycrobacterium tuberculosis yang paling sering menyerang organ paru-
            paru. Selain itu, penyakit ini dapat menyerang organ-organ tubuh lainnya
            seperti kelenjer getah bening, usus, ginjal, kandungan , tulang bahkan
            sampai otak. TB dapat menyebar melalui udara ketika seorang penderita
            TB batuk, bersin atau meludah dan seseorang didekatnya menghirup
            beberapa bakteri sehingga mereka terinfeksi [5].

            Menurut WHO, jumlah kasus kematian global secara resmi disebabkan
            oleh penyakit TB yang berjumlah 1,3 juta orang tahun 2020 dan jumlah
            kematian penyakit TB berdampak lebih parah oleh COVID-19 pandemi
            pada tahun 2020 [6]. Faktor yang mempengaruhi seseorang terkena TB
            yaitu kekurangan gizi, yang dapat meningkatkan kemungkinan
            berkembangnya TB di antara orang-orang yang sudah terinfeksi. Dalam
            situasi pandemi COVID-19 sekarang ini TB telah diidentifikasi sebagai
            faktor risiko keparahan COVID-19 dengan fakta yang ada diperkirakan
            deteksi global kasus TB baru akan 25% lebih rendah dari tingkat deteksi
            sebelum pandemi. Akibatnya tambahan 190.000 kematian kasus TB
            diperkirakan meningkat yaitu 13%
          </p>
        </div>
      </div>
    </div>
    
    <!-- End page content -->
    </div>
    
    <!-- Footer -->
    
    <script>
    // Tabbed Menu
    function openMenu(evt, menuName) {
      var i, x, tablinks;
      x = document.getElementsByClassName("menu");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablink");
      for (i = 0; i < x.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" w3-dark-grey", "");
      }
      document.getElementById(menuName).style.display = "block";
      evt.currentTarget.firstElementChild.className += " w3-dark-grey";
    }
    document.getElementById("myLink").click();
    </script>
    
    </body>
</html>